html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10px*/
  }

*, *:before, *:after {
  box-sizing: inherit;
}
  body{
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}


.nombre-sitio span {
    color: #87cef7;
    text-shadow: 0px 2px 2px #000;
    transition: all 300ms;
}
.nombre-sitio h1 {
    text-shadow: 0px 2px 2px #037bc0;
    transition: all 400ms;
}
.nombre-sitio:hover {
    text-shadow: 0px 1px 2px #037bc0;
}

.nombre-sitio span:hover{
    text-shadow: 0px 1px 2px #037bc0;
}

.navegacion a {
    text-transform: initial;
    
}


/**Sobre Nosotros**/

.sobre-nosotros{
    background-image: linear-gradient(to bottom, transparent 50%, #037bc0 50%, #037bc0 100%), url(../Imagenes/nosotros.jpg);
    background-position: center top left ;
    background-repeat: no-repeat;
    background-size: 100%, 70rem;
}

@media (min-width:768px) {
    .sobre-nosotros{
        background-image: linear-gradient(to right, transparent 50%, #037bc0 50%, #037bc0 100%), url(../Imagenes/nosotros.jpg);
        padding: 10rem 0;
        
        background-repeat: no-repeat;
        background-size: 100%, 90rem;
    }
}
.sobre-nosotros-grid{
    display: grid;
    grid-template-rows: repeat(2, 1fr);

}
@media (min-width:768px) {
    .sobre-nosotros-grid{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: unset;
        column-gap: 5rem;
        justify-items: center;
    
    }
}
.video-tube {
    grid-row: 2 / 3;
    padding: 5rem;
    
    
   
}
@media (min-width:768px) {
    .video-tube {
        grid-column: 2 / 3;
            
    }
}

iframe {
    width: 300px;
    height: 250px;
}
@media (min-width:768px) { 
    iframe {
        width: 500px;
        height:280px;
    }
}
@media (min-width:768px) and (max-width:992px) {
    iframe {
        width: 290px;
        height: 280px;
        margin: auto;
    }
}

/** Pagina Nosotros**/
.contenido-principal {
    padding-top: 5rem;
    width: 100rem;
    margin: 0 auto;
}
 .text-center {
    margin-bottom: 2rem;
   
}

    .contenido-nosotros {
        display: grid;
        grid-template-rows: repeat(2 1fr);
        align-items: center;
        gap: 3rem;      
    }
    @media (min-width:768px){
        .contenido-nosotros {
            display: grid;
            grid-template-columns: 2fr 2fr;
            justify-items: center;
            gap: 3rem;      
        }
        .imagen-nosotros {
            width: 100%;
        }
    }

/*** Logotipo ***/ 

.logotipo img {
    display: block;
    margin: auto;
    padding: 10px;
    border-top: 5px;
    animation: logotipo;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

  }  

  
  @keyframes logotipo {
    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }

 }

.logotipo img:hover {
    cursor: pointer;
    filter: drop-shadow(-5px 5px 5px  #037Bc0);
    
    
}

/*Globales*/

h1, h2, h3 {
    font-family: 'Playfair Display', serif;
    margin: 0 0 5rem 0 ;
}
h1 {
    font-size: 4rem;
}
@media (min-width:768px) {
    h1 {
        font-size: 5rem;  
    }
    

}   
h2 {
    font-size: 3rem;
}
h3 {
    font-size: 3rem;
}

a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
}

img {
    max-width: 100%;
    display: block;
    
}

/** Utilidades**/

.text-center{
    text-align: center;
}
.max-width-30 {
    max-width: 30rem;
}

/* Header y Navegacion*/
.nombre-sitio{
    margin-top: 4rem;
    text-align: center;
   
}

.contenedor-navegacion{
    border-top: .1rem solid #e1e1e1;
}
.navegacion-header{
      padding: 2rem 0;
      display: flex;
      flex-direction: column;
      align-items: center;
     
}   
@media (min-width:768px) {
    .navegacion-header {
        justify-content: space-between;
        flex-direction: row;
    }
}

.contenedor{
    max-width: 120rem;
    margin: 0 auto;
    

}


/* Categorias */
.categorias{
    padding: 5rem 0;
    
}
.categorias h2{
    text-align: center;
}
.categoria a{
    text-align: center;
    display: block;
    padding: 2rem;
    font-size: 2rem;
}
.categoria a:hover {
    background-color:#037bc0;
    color: #fff;
    border-bottom-right-radius: 1rem;
}

.categoria img {
    width: 100%;
}
.categoria {
    margin-bottom: 2rem;
}
@media (min-width:768px) {
    .categoria {
        margin-bottom: 0;
    }
}
@media (min-width:768px) {
    .listado-categorias{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
}

/** Listdo Productos **/
.contenido-principal{
    padding-top: 5rem;
    width: 100%;
    margin: 0 auto;

      
}
@media (min-width:768px) {
    
    .listado-productos {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 2rem;
       
    }
    .productos:nth-child(1) {
        grid-column-start: 1;
        grid-column-end: 7;
        display: grid;
        grid-template-columns: 3fr 1fr;
    }
    .productos:nth-child(1) img {
        height: 30rem;
        width: 100rem;
        object-fit: cover;
    }
    .productos:nth-child(2) {
        grid-column-start: 1;
        grid-column-end: 4;
    }
    .productos:nth-child(2) img, 
    .productos:nth-child(3) img {
        height: 30rem;
        width: 100%;
        object-fit: cover;
    }
    .productos:nth-child(3){
        grid-column-start: 4;
        grid-column-end: 7;
    }
    .productos:nth-child(4) {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .productos:nth-child(5) {
        grid-column-start: 3;
        grid-column-end: 5;
    }
    .productos:nth-child(6) {
        grid-column-start: 5;
        grid-column-end: 7;
      
}

}

   
.productos{
    background-color: #037bc0;
    margin-bottom: 2rem;
}
@media (min-width:768px) {
    .productos {
        margin-bottom: 0;
    }
}
.productos:last-of-type {
    margin-bottom: 0;
}
.texto-producto{
    text-align: center;
    color: #fff;
    padding: 3rem;
}
.texto-producto .precio {
    font-size: 2.8rem;
    font-weight: 900;

}
.texto-producto h3 {
    margin: 0;
}
.texto-producto p {
    margin: 0 0 .5rem 0;  
}


/** Categorias**/


.productos img {
    transition: transform .3s ease-out;
}

.productos img:hover {
    transform: scale(.8);
}

/**footer**/
.categorias-footer{
    border-top: 1px solid #e1e1e1 ;
    margin-top: 5rem;
    padding-top: 5rem;

   
}

.categorias-footer h3 {
    margin-bottom: .5rem;
    text-align: center;
    
}
@media (min-width:768px) {
    .categorias-footer h3 {  
        text-align: left;
        
    }
}
.footer-menu a {
    display: block;
    text-align: center;
}
@media (min-width: 768px) {
    .footer-menu a { 
        text-align: left;
    }
}
.grid-footer > div {
    margin-bottom: 2rem;
}
@media (min-width:768px) {
    .grid-footer > div {
        margin-bottom: 0 ;
    }
}
.copyright{ 
    text-align: center;
   
}
.social {
    display: flex;
    justify-content: center;
    ;
    }
    .texto-social {
        text-align: center;
        font-size: 25px;
        font-weight: bold;
        color: #037Bc0;
        padding-top: 3rem;
        
       
    }
    .texto.social p {     
      padding-top: 5rem;
      text-align: center;
      }
  
.iconos {
    display: flex;
    margin: 10px 5px;
    width:40px;
    height: 20px;
    color: #037Bc0;
    cursor: pointer;
    

}

/**Nosotros**/

/**Formulario**/

.formulario {
    max-width: 60rem;
    margin: 0 auto;
}
.formulario fieldset {
    border-color: 1px solid black;
    margin-bottom: 2rem;
    
}

.formulario legend {
    background-color: #037bc0;
    width: 100%;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-weight: 900;
    padding: 1rem;
    margin-bottom: 4rem;
}

.campo {
    display: flex;
    margin-bottom: 2rem;

}

.campo label {
    flex-basis: 10rem;

}

.campo input:not([type="radio"]),
.campo textarea,
.campo select {
    flex: 1;
    border: 1px solid #e1e1e1;
    padding: 1rem;
}
/** Blog **/

@media (min-width:768px) {
    .contenedor-blog{
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 4rem;
        padding-left: 5rem;
        margin-left: 5rem;
    }
}
.entrada{
    border-bottom: 2px solid #e1e1e1;
    margin-bottom: 2rem;
    padding-bottom: 4rem;
}
.entrada h2 {
    text-align: center;
}
@media (min-width:768px) {
    .entrada h2 {
        text-align: left;
    }
}
.contenido-blog {
    padding: 2rem;
}
@media (min-width:768px) {
    .max-width-30 {
        max-width: 30rem; 
}
}
.max-width-30 {
    max-width: 40rem;
}
.entrada:last-of-type{
    border: none;
}

@media (min-width: 768px) {
    .entrada-meta{
        display: flex;
        justify-content: space-between;
    }
}
.entrada-meta p {
    font-weight: 700;

}
.entrada-meta span {
    color: #037bc0;

}
.contenido-entrada-blog{
    width: 60rem;
    margin: 0 auto;
}